.col-lg-1 {
    width: 10%;
    padding-left: 10px;
}

.panel-body {
    padding: 0px;
}

.control-label {
    font-weight: normal;
}
.add-input{
    padding:2px 2px 2px 5px;
    border: 1px solid #ccc;
    border-radius:4px;
    margin-left: 8px
}
.add-div{
    margin-left: 10%;
    margin-top: 5px;
}
.del-btn{
    margin-left:2px;
    padding: 4px;
    font-size: 9px;
    line-height: 1;
}